<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/defaultheader.ejs') %>
    <script src='../js/homepage.js'></script>
    <link rel="stylesheet" href="styles/blog.css" type="text/css">
</head>
<body class="has-background-dark">
    <%- include('partials/navbar.ejs') %>
    <div class="container section">
        <section class="section">
            <h1 class="title has-text-white">Blog Posts</h1>
            <a href="/blog/new" class="button is-success">New Post</a>    
        </section>
        
        <% posts.forEach(post => { %>
            <div class="card is-4">
                <a href="/blog/<%= post._id %>" >
                    <div class="card-content">
                        <h4 class="title is-4"><%= post.title %></h4>
                        <div class="subtitle">
                            <%= post.date.toLocaleDateString() %>
                        </div>
                        <div class="content"><%= post.description %></div>
                    </div>
                </a>
            </div>
        <% }) %>    
    </div>
</body>
</html>